@RenderPage("~/AreaRestrita/Seguranca.cshtml");
@{
    Page.Title = "Pagina";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }

    private class Pagina
    {
        public string IdPagina { get; set; }
        public string IdSistema { get; set; }
        public string NomeSistema { get; set; }
        public string IdModulo { get; set; }
        public string NomeModulo { get; set; }
        public string Codigo { get; set; }
        public string Caption { get; set; }
    }

    private class Acao
    {
        public string IdAcao { get; set; }
        public string IdPagina { get; set; }
        public string PaginaCodigo { get; set; }
        public string PaginaCaption { get; set; }
        public string Codigo { get; set; }
        public string Caption { get; set; }
        public string NomeProcedure { get; set; }
    }


    string acao = null;
    string idAcao = null;

    View view = View.Index;
    Acao entidadeAcao = null;
    List<Acao> acoes = null;
    List<Pagina> paginas = null;
    List<Botao> botoes = null;

    private void AlimentaVariaveis()
    {
        entidadeAcao = new Acao();

        acao = Util.ChecaNulo(Request.Form["acao"]);
        idAcao = Util.ChecaNulo(Request.Form["idAcao"]);
        botoes = new BotaoDao().GetAll();

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }

    private void LimpaVariaveis()
    {
        acao = null;
        idAcao = null;

        entidadeAcao = null;
        acoes = null;
        paginas = null;
    }

    private void ConsultarAcaos()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdAcao", idAcao);
        acoes = new Dao().ExecutarAcaoList<Acao>("C", parametros);
    }

    private void ConsultarPaginas()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoRetorno", 1);
        paginas = new Dao().ExecutarAcaoList<Pagina>("C", parametros);
    }


    private string isInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdAcao", entidadeAcao.IdAcao);
        parametros.Add("@IdPagina", entidadeAcao.IdPagina);
        parametros.Add("@Codigo", entidadeAcao.Codigo);
        parametros.Add("@Caption", entidadeAcao.Caption);
        parametros.Add("@NomeProcedure", entidadeAcao.NomeProcedure);

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void instanciarPagina()
    {
        if (entidadeAcao == null)
        {
            entidadeAcao = new Acao();
        }
    }

    private void carregarDados()
    {
        if (view == View.Edit && acao == "C" && acoes != null && acoes.Count == 1)
        {
            entidadeAcao = acoes.FirstOrDefault();
        }
    }

    private void executarManutencao()
    {
        entidadeAcao = new Acao()
        {
            IdAcao = Util.ChecaNulo(Request.Form["idAcao"]),
            IdPagina = Util.ChecaNulo(Request.Form["idPagina"]),
            Codigo = Util.ChecaNulo(Request.Form["codigo"]),
            Caption = Util.ChecaNulo(Request.Form["caption"]),
            NomeProcedure = Util.ChecaNulo(Request.Form["nomeProcedure"])
        };

        Manutencao();
        view = View.Index;
        LimpaVariaveis();
        ModelState.AddError("alert-success", "Operação realizada com sucesso.");
    }
}

@{
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(executarManutencao, this.ModelState);

    }

    Util.ExceptionHandler(() =>
    {
        ConsultarAcaos();
        ConsultarPaginas();
        carregarDados();

    }, this.ModelState);


}


<form name="form1" method="post">
    <input type="hidden" name="acao" id="acao" />
    <input type="hidden" name="idAcao" id="idAcao" value="@idAcao" />
    <input type="hidden" name="view" id="view" value="@((int)view)" />

    <div class="container">
        <h1>Ações</h1>

        @PageHelper.MakeAlert()



        @if (view == View.New || view == View.Edit)
        {
            <div class="mb-3">
                <label for="idPagina">Página: </label>

                <select class="form-select @isInvalid("idPagina")" name="idPagina" id="idPagina">
                    <option value=""></option>
                    @foreach (Pagina item in paginas)
                    {
                        <option value="@item.IdPagina" @(item.IdPagina == entidadeAcao.IdPagina ? "selected" : "")>@(item.NomeSistema + " -> " + item.NomeModulo + " -> " + item.Caption)</option>
                    }


                </select>
                @PageHelper.makeFeedback("idPagina")

            </div>

            <div class="mb-3">
                <label for="codigo" class="form-label">Código: </label>
                <input class="form-control @isInvalid("codigo")" type="text" name="codigo" id="codigo" value="@entidadeAcao.Codigo" />
                @PageHelper.makeFeedback("codigo")
            </div>

            <div class="mb-3">
                <label for="caption" class="form-label">Caption: </label>
                <input class="form-control @isInvalid("caption")" type="text" name="caption" id="caption" value="@entidadeAcao.Caption" />
                @PageHelper.makeFeedback("caption")
            </div>

            <div class="mb-3">
                <label for="nomeProcedure" class="form-label">Nome da procedure: </label>
                <input class="form-control @isInvalid("nomeProcedure")" type="text" name="nomeProcedure" id="nomeProcedure" value="@entidadeAcao.NomeProcedure" />
                @PageHelper.makeFeedback("nomeProcedure")
            </div>
        }


    <div class="mb-3">
        <button class="btn btn-primary" type="submit" onclick="estadoInicial()">Limpar</button>

        @if (view == View.New)
        {
            @PageHelper.MakeBotao(botoes, "I")
        }

        @if (view == View.Index)
        {
            if (botoes.Any(x => x.Codigo == "I"))
            {
                <button class="btn btn-primary" type="button" onclick="novo()">Novo</button>
            }
        }


        @if (view == View.Edit)
        {
            @PageHelper.MakeBotao(botoes, "E")
            @PageHelper.MakeBotao(botoes, "A")
        }
    </div>

        @if (view == View.Index)
        {
            if (acoes != null)
            {
                <table class="mt-2 table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>IdAcao</th>
                            <th>Código</th>
                            <th>Caption</th>
                            <th>Código da página</th>
                            <th>Caption da página</th>
                            <th>Nome Procedure</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Acao item in acoes)
                        {
                            <tr>
                                <td>@item.IdAcao</td>
                                <td>@item.Codigo</td>
                                <td>@item.Caption</td>
                                <td>@item.PaginaCodigo</td>
                                <td>@item.PaginaCaption</td>
                                <td>@item.NomeProcedure</td>
                                <td>
                                    @if (botoes.Any(x => x.Codigo == "A" || x.Codigo == "E"))
                                    {
                                        <button class="btn btn-warning" type="button" onclick="editar('@item.IdAcao')">
                                            <i class="bi bi-pencil-fill"></i>
                                            Editar
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
        }
    </div>
</form>

<script src="~/Scripts/scripts.js"></script>

<script>
    function editar(idAcao) {
        document.form1.view.value = "@((int)View.Edit)"
        document.form1.idAcao.value = idAcao;
        executarAcao('C');
    }

    function novo() {
        document.form1.view.value = "@((int)View.New)";
        executarAcao('');
    }
</script>


