@{
    Page.Title = "Operador";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private enum View
    {
        Index,
        New,
        Edit
    }

    private class Operador
    {
        public string IdOperador { get; set; }
        public string Cpf { get; set; }
        public string Nome { get; set; }
        public string Senha { get; set; }
    }


    string acao = null;

    string idOperador = null;

    Operador operador = null;


    View view = View.Index;
    List<Operador> operadores = null;

    private void AlimentaVariaveis()
    {
        operador = new Operador();

        acao = Util.ChecaNulo(Request.Form["acao"]);
        idOperador = Util.ChecaNulo(Request.Form["idOperador"]);

        if (!string.IsNullOrWhiteSpace(Request.Form["view"]))
        {
            view = (View)Enum.Parse(typeof(View), Request.Form["view"]);
        }
    }

    private void LimpaVariaveis()
    {
        acao = null;
        idOperador = null;
        operador = null;
    }

    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdOperador", idOperador);


        string procedure = GetNomeProcedure("C");
        Dao dao = new Dao();

        operadores = dao.ExecutarProcedureList<Operador>(procedure, parametros);

    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_LGU_Operador_Sel";
            case "I": return "stp_LGU_Operador_Ins";
            case "A": return "stp_LGU_Operador_Upd";
            case "E": return "stp_LGU_Operador_Del";
            default:
                return null;
        }
    }

    private string isInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@IdOperador", operador.IdOperador);
        parametros.Add("@Cpf", operador.Cpf);
        parametros.Add("@Nome", operador.Nome);
        parametros.Add("@Senha", operador.Senha);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();

        dao.ExecutarProcedure(procedure, parametros);

    }

    private void instanciarOperador()
    {
        if (operador == null)
        {
            operador = new Operador();
        }
    }

    private void carregarDados()
    {
        if (view == View.Edit && acao == "C" && operadores != null && operadores.Count == 1)
        {
            operador = operadores.FirstOrDefault();

        }
    }

    private void executarManutencao()
    {
        operador = new Operador()
        {
            IdOperador = Util.ChecaNulo(Request.Form["idOperador"]),
            Cpf = Util.ChecaNulo(Request.Form["cpf"]),
            Nome = Util.ChecaNulo(Request.Form["nome"]),
            Senha = Util.ChecaNulo(Request.Form["senha"])
        };

        Manutencao();
        view = View.Index;
        LimpaVariaveis();
        ModelState.AddError("alert-success", "Operação realizada com sucesso.");
    }
}

@{
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(executarManutencao, this.ModelState);

    }

    Util.ExceptionHandler(() =>
    {
        Consultar();
        carregarDados();

    }, this.ModelState);


}


<body>
    <form class="text-light" name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idOperador" id="idOperador" value="@idOperador" />
        <input type="hidden" name="view" id="view" value="@((int)view)" />

        <div class="container">
            <h1>Operadores</h1>

            @PageHelper.MakeAlert()



            @if (view == View.New || view == View.Edit)
            {
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF: </label>
                    <input class="form-control @isInvalid("cpf")" type="text" name="cpf" id="cpf" value="@operador.Cpf" />
                    @PageHelper.makeFeedback("cpf")
                </div>

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome: </label>
                    <input class="form-control @isInvalid("nome")" type="text" name="nome" id="nome" value="@operador.Nome" />
                    @PageHelper.makeFeedback("nome")
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha: </label>
                    <input class="form-control @isInvalid("senha")" type="password" name="senha" id="senha" value="@operador.Senha" />
                    @PageHelper.makeFeedback("senha")
                </div>
            }


            <div class="mb-3">
                <button class="btn btn-primary" type="submit" onclick="estadoInicial()">Limpar</button>

                @if (view == View.Index)
                {
                    <button class="btn btn-primary" type="button" onclick="novo()">Novo</button>

                }

                @if (view == View.New)
                {
                    <button class="btn btn-success" type="button" onclick="executarAcao('I')">Inserir</button>

                }

                @if (view == View.Edit)
                {
                    <button class="btn btn-danger" type="button" onclick="executarAcao('E')">Excluir</button>
                    <button class="btn btn-warning" type="button" onclick="executarAcao('A')">Alterar</button>

                }



            </div>

            @if (view == View.Index)
            {
                if (operadores != null)
                {
                    <table class="mt-2 table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th>IdOperador</th>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Senha</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Operador item in operadores)
                            {
                                <tr>
                                    <td>@item.IdOperador</td>
                                    <td>@item.Cpf</td>
                                    <td>@item.Nome</td>
                                    <td>@(new string(item.Senha.Select(c =>  '*').ToArray()))</td>
                                    <td>
                                        <button class="btn btn-warning" type="button" onclick="editar('@item.IdOperador')">
                                            <i class="bi bi-pencil-fill"></i>
                                            Editar
                                        </button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                }
            }


        </div>
    </form>

    <script src="~/Scripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        function editar(idOperador) {
            document.form1.view.value = "@((int)View.Edit)"
            document.form1.idOperador.value = idOperador;
            executarAcao('C');
        }

        function novo() {
            document.form1.view.value = "@((int)View.New)";
            executarAcao('');
        }


    </script>
</body>


