@helper MakeAlert()
{
    foreach (var item in ModelState.Where(x => x.Key.StartsWith("alert-")))
    {
        foreach (var item1 in item.Value.Errors)
        {
            <div class="alert @Html.Raw(item.Key)">
                @Html.Raw(item1)

            </div>
        }

    }

}

@helper makeFeedback(string key)
{
    foreach (var item in ModelState.Where(x => x.Key.Equals(key, StringComparison.OrdinalIgnoreCase)))
    {
        foreach (var item1 in item.Value.Errors)
        {
            <div class="invalid-feedback">@(item1)</div>
        }

    }
}

@helper MakeBotao(List<Botao> botoes, string acao)
{
    if (botoes.Any(x => x.Codigo == acao))
    {
        Botao botao = botoes.Find(x => x.Codigo == acao);

        if (botao != null)
        {
            <button class="btn btn-success" type="button" onclick="executarAcao('@botao.Codigo')">@botao.Caption</button>
        }
    }

}

@helper MakeTresPontos(string group, string title, string label, string tipoConsulta, string consultaComposta)
{
    <div class="search" data-group="@group" data-tipo-consulta="@tipoConsulta" data-consulta-composta="@consultaComposta">
        <span class="btn btn-light" onclick="openSearch(this)">
            ...
        </span>
        <div class="search-card">
            <div class="search-head">
                <div class="search-title">@title</div>
                <div class="search-close" onclick="closeSearch(this)">x</div>
            </div>
            <div class="search-body">
                <label for="chave">@label</label>
                <div class="row">
                    <div class="col">
                        <input type="text" name="chave" id="chave" value="" class="form-control" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-primary" type="button" name="pesquisar" id="pesquisar" onclick="makeSearch(this)">Pesquisar</button>
                    </div>
                </div>

                <div class="resultado"></div>
            </div>

        </div>
    </div>
}