@RenderPage("~/AreaRestrita/Seguranca.cshtml");
@{
    Page.Title = "Jogador";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}


@functions {
    private class Jogador
    {
        public string IdJogador { get; set; }
        public bool Tecnico { get; set; }
        public bool Capitao { get; set; }
        public bool Suspenso { get; set; }
        public string Nome { get; set; }
    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }


    string acao = null;
    string idTime = null;
    Time time = null;

    List<Botao> botoes = null;
    List<Jogador> jogadores = null;
    List<Time> times = null;


    private void instanciarTime()
    {
        if (time != null) return;

        time = new Time();
    }

    private void AlimentaVariaveis()
    {
        instanciarTime();
        acao = Util.ChecaNulo(Request.Form["acao"]);
        idTime = Util.ChecaNulo(Request.Form["idTime"]);

        botoes = new BotaoDao().GetAll();
    }

    private void LimpaVariaveis()
    {
        acao = null;
        idTime = null;
    }

    private void ConsultarJogadores()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", 1);
        parametros.Add("@IdTime", idTime);

        jogadores = new Dao().ExecutarAcaoList<Jogador>("C", parametros);
    }

    private void ConsultarTimes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        times = new Dao().ExecutarAcaoList<Time>("C", parametros);
    }

    private string isInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        new Dao().ExecutarAcao(acao, parametros);

    }

    private void ExecutarManutencao()
    {
        Manutencao();
        LimpaVariaveis();
        ModelState.AddError("alert-success", "Operação realizada com sucesso.");

    }

    private void CarregarDados()
    {
        if (acao == "C" && jogadores != null && jogadores.Count == 1)
        {
            time = times.FirstOrDefault();
        }
    }
}

@{
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {
        Util.ExceptionHandler(ExecutarManutencao, this.ModelState);

    }

    Util.ExceptionHandler(() =>
    {
        ConsultarTimes();
        ConsultarJogadores();
        //CarregarDados();
    }, this.ModelState);

}


<form name="form1" id="form1" method="post">
    <input type="hidden" name="acao" id="acao" />
    <input type="hidden" name="idTime" id="idTime" value="@idTime" />

    <div class="text-white container">
        <h1>Detalhes dos times</h1>

        @PageHelper.MakeAlert()

        <div class="mb-3">
            <label for="idTime">Time: </label>

            <select class="form-select @isInvalid("idTime")" name="idTimeSelecionado" id="idTimeSelecionado">
                <option value=""></option>
                @foreach (Time item in times)
                {
                    <option value="@item.IdTime" @(time.IdTime == item.IdTime ? "selected" : "")>@item.Nome</option>
                }


            </select>
            @PageHelper.makeFeedback("idTime")

        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit" onclick="estadoInicial()">Limpar</button>
        </div>

        @if (jogadores != null)
        {
            <table class="mt-3 table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <img width="40" src="~/captain.png" />
                            Capitão
                        </th>
                        <th>
                            <img width="40" src="~/coach.png" />
                            Técnico
                        </th>
                        <th>
                            <img width="40" src="~/penalty-card.png" />
                            Suspenso
                        </th>
                        <th>Jogador</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Jogador item in jogadores)
                    {
                        <tr>
                            <td></td>
                            <td>
                                <input class="form-check-input" type="radio" name="idCapitao" id="idCapitao" value="1" @(item.Capitao ? "checked" : "")>
                            </td>
                            <td>
                                <input class="form-check-input" type="radio" name="idTecnico" id="idTecnico" value="1" @(item.Tecnico ? "checked" : "")>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" name="idSuspenso" id="idSuspenso" value="1" @(item.Suspenso ? "checked" : "")>
                            </td>
                            <td>@item.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</form>

<script src="~/Scripts/scripts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
        integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA="
        crossorigin="anonymous"></script>

<script>
    const form1 = document.getElementById("form1");
    const selectTimeSelecionado = document.getElementById("idTimeSelecionado");

    function handleTimeSelecionado() {
        form1.idTime.value = selectTimeSelecionado.value;
        form1.submit();
    }

    selectTimeSelecionado.addEventListener("change", handleTimeSelecionado)


    $('input[name="salario"]').mask('000.000.000.000.000,00', {reverse: true});

        function editar(idJogador, nome, idTime) {
            form1.idJogador.value = idJogador;
            executarAcao('C');
        }
</script>


