@{
    Page.Title = "Controle de Acesso";
    Layout = "~/ControleAcesso/_Layout.cshtml";
}

<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</header>

@functions {
    public class Operador
    {
        public string IdOperador { get; set; }
        public string Nome { get; set; }
    }

    string acao = null;
    string cpf = null;
    string senha = null;

    bool redirect = false;

    private string isInvalid(string key)
    {
        return (!ModelState.IsValidField(key) ? "is-invalid" : "");
    }

    private void AlimentaVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        cpf = Util.ChecaNulo(Request.Form["cpf"]);
        senha = Util.ChecaNulo(Request.Form["senha"]);
    }



    private void Consultar()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@Cpf", cpf);
        parametros.Add("@Senha", senha);

        List<Operador> operadores = new Dao().ExecutarProcedureList<Operador>("stp_LGU_AbreSessao", parametros);

        if (operadores != null)
        {
            Operador operador = operadores.FirstOrDefault();
            if (operador != null)
            {
                Session["IdOperador"] = operador.IdOperador;
                redirect = true;
                //Response.Redirect("~/");
            }
        }
    }
}

@{
    AlimentaVariaveis();

    if (acao == "A")
    {
        Util.ExceptionHandler(() =>
        {
            Consultar();

        }, this.ModelState);
    }
}
<html>
    <head>
        @if(redirect)
            {
                <meta http-equiv="refresh" content="3;url=/" />
            }
    </head>
    <body>
        <form name="form1" method="post">

            <div class="container">
                @PageHelper.MakeAlert()
                <input type="hidden" name="acao" value="@acao" />
                <div class="row">

                    <div class="col">
                        <label for="cpf" class="form-label">CPF: </label>
                        <input class="form-control @isInvalid("cpf")" type="text" name="cpf" id="cpf" />
                        @PageHelper.makeFeedback("cpf")

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="senha" class="form-label">Senha: </label>
                        <input class="form-control @isInvalid("senha")" type="password" name="senha" id="senha" />
                        @PageHelper.makeFeedback("senha")
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="button" onclick="acessar()">Acessar</button>
                    </div>

                </div>

            </div>

        </form>
        <script>
            function acessar() {
                document.form1.acao.value = "A";
                document.form1.submit();
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>


</html>
