@{
    Page.Title = "Jogador";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@using System.Data.SqlClient

@functions {
    //private enum Acao
    //    {
    //        INCLUIR,
    //        CONSULTAR,
    //        EDITAR,
    //        EXCLUIR
    //    }

    private class Jogador
    {
        public string IdJogador { get; set; }
        public string Nome { get; set; }
        public string IdTime { get; set; }
        public string NomeTime { get; set; }

    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }


    string acao = null;
    string idJogador = null;
    string nome = null;
    string idTime = null;


    List<Jogador> jogadores = null;
    List<Time> times = null;



    private void AlimentaVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        idJogador = Util.ChecaNulo(Request.Form["idJogador"]);
        nome = Util.ChecaNulo(Request.Form["nome"]);
        idTime = Util.ChecaNulo(Request.Form["idTime"]);
    }

    private void ConsultarJogadores()
    {

        string procedure = GetNomeProcedure("C");
        Dao dao = new Dao();

        jogadores = dao.ExecutarProcedureList<Jogador>(procedure, null);

    }

    private void ConsultarTimes()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        parametros.Add("@TipoConsulta", 1);

        string procedure = GetNomeProcedure("C");

        Dao dao = new Dao();

        times = dao.ExecutarProcedureList<Time>(procedure, parametros);
    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_LGU_Jogador_Sel";
            case "I": return "stp_LGU_Jogador_Ins";
            case "A": return "stp_LGU_Jogador_Upd";
            case "E": return "stp_LGU_Jogador_Del";

            default:
                return null;
        }
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        parametros.Add("@IdJogador", idJogador);
        parametros.Add("@Nome", nome);
        parametros.Add("@IdTime", idTime);

        string procedure = GetNomeProcedure(acao);

        Dao dao = new Dao();

        dao.ExecutarProcedure(procedure, parametros);


    }
}

@{
    AlimentaVariaveis();

    if(acao == "I" || acao == "A" || acao == "E")
    {

        Manutencao();
    }

    ConsultarTimes();
    ConsultarJogadores();

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idJogador" id="idJogador" value="@idJogador" />

        <div class="container">
            <h1>Jogador</h1>


            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="@nome" />
            </div>

            <div>
                <label for="idTime">Time: </label>
           
                <select name="idTime" id="idTime" >
                    <option value=""></option>
                    @foreach (Time item in times)
                    {
                        <option value="@item.IdTime">@item.Nome</option>
                    }
                </select>
            </div>

            <button type="button" onclick="executarAcao('I')">Incluir</button>
            <button type="button" onclick="executarAcao('E')">Excluir</button>
            <button type="button" onclick="executarAcao('A')">Alterar</button>

            @if (jogadores != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>IdJogador</th>
                            <th>Nome</th>
                            <th>Time</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Jogador item in jogadores)
                        {
                            <tr>
                                <td>@item.IdJogador</td>
                                <td>@item.Nome</td>
                                <td>@item.NomeTime</td>
                                <td>
                                    <button type="button" onclick="editar('@item.IdJogador', '@item.Nome', '@item.IdTime')">Editar</button>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
        </div>
    </form>

    <script>
        function executarAcao(acao) {
            document.form1.acao.value = acao;
            document.form1.submit();
        }

        function editar(idJogador, nome, idTime) {
            
            document.form1.idJogador.value = idJogador;
            document.form1.nome.value = nome;
            document.form1.idTime.value = idTime;
        }
    </script>
</body>


