@{
    Page.Title = "Participacao";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private class Jogo
    {
        public string IdJogo { get; set; }
        public string IdTime1 { get; set; }
        public string NomeTime1 { get; set; }
        public string IdTime2 { get; set; }
        public string NomeTime2 { get; set; }
        public int Placar1 { get; set; }
        public int Placar2 { get; set; }

    }

    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }


    string acao = null;
    string idTime = null;
    string nome = null;

    List<Jogo> jogos = null;
    List<Time> times = null;


    private void AlimentaVariaveis()
    {
        acao = Request.Form["acao"];
        idTime = Request.Form["idTime"];
        nome = Request.Form["nome"];
    }

    private void ConsultarParticipacoes()
    {

        string procedure = GetNomeProcedure("C");
        Dao dao = new Dao();

        times = dao.ExecutarProcedureList<Time>(procedure, null);

    }

    private void ConsultarJogos()
    {

        string procedure = GetNomeProcedure("C");
        Dao dao = new Dao();

        Dictionary<string, object> parametros = new Dictionary<string, object>();

        parametros.Add("@TipoRetorno", 1);

        jogos = dao.ExecutarProcedureList<Jogo>(procedure, parametros);

    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_LGU_Participacao_Sel";
            case "I": return "stp_LGU_Participacao_Ins";
            case "A": return "stp_LGU_Participacao_Upd";
            case "E": return "stp_LGU_Participacao_Del";
            default:
                return null;
        }
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        parametros.Add("@IdTime", idTime);
        parametros.Add("@Nome", nome);

        string procedure = GetNomeProcedure(acao);




        Dao dao = new Dao();

        dao.ExecutarProcedure(procedure, parametros);
    }
}

@{
    AlimentaVariaveis();

    if(acao == "I" || acao == "A" || acao == "E")
    {

        Manutencao();
    }

    ConsultarParticipacoes();
    ConsultarJogos();

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idTime" id="idTime" value="@idTime" />

        <div class="container">
            @*<h1>Time</h1>


            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="@nome" />
            </div>

            <button type="button" onclick="executarAcao('I')">Incluir</button>
            <button type="button" onclick="executarAcao('E')">Excluir</button>
            <button type="button" onclick="executarAcao('A')">Alterar</button>

            @if (times != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>IdTime</th>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Time item in times)
                        {
                            <tr>
                                <td>@item.IdTime</td>
                                <td>@item.Nome</td>
                                <td>
                                    <button type="button" onclick="editar('@item.IdTime', '@item.Nome')">Editar</button>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }*@

            <h1>Escolha uma partida</h1>
                
            @if (jogos != null)
            {
                <div>
                    <select name="idJogoSelecionado" id="idJogoSelecionado">
                        @foreach (Jogo item in jogos)
                        {
                            <option value="@item.IdJogo">
                                <span>@item.NomeTime1</span>
                                <span>@item.Placar1</span>
                                <span>X</span>
                                <span>@item.NomeTime2</span>
                                <span>@item.Placar2</span>
                            </option>
                        }
                    </select>
                </div>
         
            }
            


        </div>
    </form>

    <script>
        function executarAcao(acao) {
            document.form1.acao.value = acao;
            document.form1.submit();
        }

        function editar(idTime, nome) {
            document.form1.idTime.value = idTime;
            document.form1.nome.value = nome;
        }
    </script>
</body>


