@{
    Page.Title = "Time";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }
    }


    string acao = null;
    List<Time> times = null;
    string idTime = null;
    string nome = null;


    private void AlimentaVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        idTime = Util.ChecaNulo(Request.Form["idTime"]);
        nome = Util.ChecaNulo(Request.Form["nome"]);
    }

    private void LimpaVariaveis()
    {
        acao = null;
        idTime = null;
        nome = null;
    }

    private void Consultar()
    {

        string procedure = GetNomeProcedure("C");
        Dao dao = new Dao();

        times = dao.ExecutarProcedureList<Time>(procedure, null);

    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "stp_LGU_Time_Sel";
            case "I": return "stp_LGU_Time_Ins";
            case "A": return "stp_LGU_Time_Upd";
            case "E": return "stp_LGU_Time_Del";
            default:
                return null;
        }
    }

    private void Manutencao()
    {
        Dictionary<string, object> parametros = new Dictionary<string, object>();

        parametros.Add("@IdTime", idTime);
        parametros.Add("@Nome", nome);

        string procedure = GetNomeProcedure(acao);




        Dao dao = new Dao();

        dao.ExecutarProcedure(procedure, parametros);

    }
}

@{
    AlimentaVariaveis();

    if (acao == "I" || acao == "A" || acao == "E")
    {

        Manutencao();
        LimpaVariaveis();
    }


    Consultar();

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <input type="hidden" name="acao" id="acao" />
        <input type="hidden" name="idTime" id="idTime" value="@idTime" />

        <div class="container">
            <h1>Time</h1>



            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="@nome" />
            </div>

            <button class="btn btn-primary" type="submit" onclick="estadoInicial()">Limpar</button>



            <button class="btn btn-success" type="button" onclick="executarAcao('I')">Incluir</button>
            <button class="btn btn-danger" type="button" onclick="executarAcao('E')">Excluir</button>
            <button class="btn btn-warning" type="button" onclick="executarAcao('A')">Alterar</button>

            @if (times != null)
            {
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="table-dark">IdTime</th>
                            <th scope="col" classs="table-dark">Nome</th>
                            <th scope="col" classs="table-dark"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Time item in times)
                        {
                            <tr>
                                <td>@item.IdTime</td>
                                <td>@item.Nome</td>
                                <td>
                                    <button class="btn btn-warning" type="button" onclick="editar('@item.IdTime', '@item.Nome')">
                                        <i class="bi bi-pencil-fill"></i>
                                    Editar</button>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            }


        </div>
    </form>

    <script src="~/Scripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        function editar(idTime, nome) {
            document.form1.idTime.value = idTime;
            document.form1.nome.value = nome;
        }


    </script>
</body>


